<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head></head>


<h3>Top new registered users</h3>
<% if @data[:top_new_registered_users].present? %>
    <ol>
      <%- @data[:top_new_registered_users].each do |user| %>
          <li>
            <%= user['username'] %>
          </li>
      <% end %>
    </ol>
<% else %>
    <li>No data yet</li>
<% end %>

<h3>Top non staff users</h3>
<% if @data[:top_non_staff_users].present? %>
    <ol>
      <%- @data[:top_non_staff_users].each do |user| %>
          <li>
            <%= user['username'] %>
          </li>
      <% end %>
    </ol>
<% end %>

<h3>Leaving out demoted regulars field</h3>

<h3>popular posts</h3>
<% if @data[:popular_posts].present? %>
    <ol>
      <%- @data[:popular_posts].each do |post| %>
          <li>
            Post ID: <%= post['id'] %>
          </li>
      <% end %>
    </ol>
<% end %>

<h3>Most liked posts</h3>
<% if @data[:most_liked_posts].present? %>
    <ol>
      <%- @data[:most_liked_posts].each do |post| %>
          <li>
            Post ID: <%= post['id'] %>
          </li>
      <% end %>
    </ol>
<% end %>

<h3>Most replied topics</h3>
<% if @data[:most_replied_topics].present? %>
    <ol>
      <%- @data[:most_replied_topics].each do |topic| %>
          <li>
            <%= topic['title'] %>
          </li>
      <% end %>
    </ol>
<% end %>

<h3>Active Users</h3>
<% if @data[:active_users].present? %>
<%= @data[:active_users] %>
<% else %>
active users data not yet added
<% end %>


<h3>Posts Made</h3>
<% if @data[:posts_made].present? %>
    <%= @data[:posts_made] %>
<% else %>
    posts made data not yet added
<% end %>

<h3>Pages Read</h3>
<% if @data[:pages_read].present? %>
    <%= @data[:pages_read] %>
<% else %>
    pages read data not yet added
<% end %>

<h3>New Users</h3>
<% if @data[:new_users].present? %>
    <%= @data[:new_users] %>
<% else %>
    new users data not yet added
<% end %>

<h3>New repeat visitors</h3>
<% if @data[:new_repeat_visitors].present? %>
    <%= @data[:new_repeat_visitors] %>
<% else %>
    new repeat visitors data not yet added
<% end %>

<h3>Average Daily Active Users (DAU)</h3>
<% if @data[:dau].present? %>
    <%= @data[:dau] %>
<% else %>
    dau data not yet added
<% end %>

<h3>Monthly Active Users (MAU)</h3>
<% if @data[:mau].present? %>
    <%= @data[:mau] %>
<% else %>
    mau data not yet added
<% end %>

<h3>Health (dau/mau)</h3>
<% if @data[:health].present? %>
    <%= @data[:health] %>
<% else %>
    health data not yet added
<% end %>





</body>
</html>
